@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');
:root {
    --darkGray: #292e33;
    --white: #fff;
    --accents: #ff93cc;
    --transition: .3s ease;
}
/**********************
basic styles
**********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
.container {
    width: 80%;
    margin: auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    transition: var(--transition);
}
button {
    padding: 15px 30px;
    cursor: pointer;
    transition: var(--transition);
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
}
button:hover {
    background-color: var(--white);
    color: var(--darkGray);
}
/**********************
topbar
**********************/
.topbar {
    background-color: var(--darkGray);
    color: var(--white);
    padding: 10px 0;
}
.topbar article {
    display: flex;
    justify-content: space-between;
}
.topbar i {
    color: var(--accents);
}
.topbar a {
    margin-left: 20px;
}
/**********************
nav
**********************/
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
nav ul {
    display: flex;
}
nav .logo {
    color: var(--accents);
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 1px 1px var(--darkGray);
}
nav .logo:hover {
    color: var(--darkGray);
    text-shadow: 1px 1px var(--accents);
}
nav ul li a {
    color: var(--darkGray);
    margin-left: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
nav ul li a:hover {
    color: var(--accents);
}
/**********************
footer
**********************/
footer {
    padding: 100px 0;
    background-color: var(--darkGray);
    color: var(--white);
}
footer article {
    display: flex;
    justify-content: space-between;
}
footer h3 {
    color: var(--accents);
    font-size: 1.5rem;
    margin-bottom: 20px;
}
footer div:nth-child(1) {
    flex: 0 0 39%;
}
footer div:nth-child(2) {
    flex: 0 0 19%;
    padding-left: 30px;
}
footer div:nth-child(3) {
    flex: 0 0 39%;
}
footer div:nth-child(3) p {
    padding-bottom: 20px;
}
footer a {
    color: var(--white);
}
footer a:hover {
    color: var(--accents);
}
footer input[type="email"] {
    padding: 15px 25px;
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
    font-size: 1rem;
    outline: none;
    width: 320px;
}
footer input::placeholder {
    text-transform: uppercase;
    letter-spacing: 1px;
}
/**********************
aside
**********************/
aside {
    height: 100vh;
    position: fixed;
    top: 0;
}
aside ul {
    position: relative;
    top: 35%;
    background-color: var(--white);
    box-shadow: 0 0 5px var(--darkGray);
    padding: 4px 0;
}
aside li {
    display: block;
    padding: 5px;
}
aside li i {
    color: red;
    font-size: 2rem;
}
aside li:nth-child(1) i {
    color: #1877f2;
}
aside li:nth-child(2) i {
    color: red;
}
aside li:nth-child(3) i {
    color: #dc5395;
}
aside li:nth-child(4) i {
    color: #e60023;
}

/**********************
H O M E
**********************/
.headerHome {
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}
.headerHome h1 {
    font-size: 5rem;
    text-shadow: 0 0 3px var(--darkGray);
    line-height: 1.2;
}
.headerHome p {
    font-size: 1.5rem;
    opacity: .8;
    padding: 0 0 15px;
}