@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');
:root {
    --darkGray: #292e33; /* rgb(41, 46, 51) */
    --white: #fff;
    --accents: #ff93cc;
    --transition: .3s ease;
}
/**********************
basic styles
**********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--darkGray);
}
.container {
    width: 80%;
    margin: auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    transition: var(--transition);
}
button {
    padding: 15px 30px;
    cursor: pointer;
    transition: var(--transition);
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
}
button:hover {
    background-color: var(--white);
    color: var(--darkGray);
}
h2 {
    font-size: 3rem;
    padding-bottom: 10px;
}
/**********************
topbar
**********************/
.topbar {
    background-color: var(--darkGray);
    color: var(--white);
    padding: 5px 0;
}
.topbar article {
    display: flex;
    justify-content: space-between;
}
.topbar i {
    color: var(--accents);
}
.topbar a {
    margin-left: 20px;
}
/**********************
nav
**********************/
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}
nav ul {
    display: flex;
}
nav .logo {
    color: var(--accents);
    font-size: 1.6rem;
    font-weight: 700;
    text-shadow: 1px 1px var(--darkGray);
    line-height: 1.2;
}
nav .logo:hover {
    color: var(--darkGray);
    text-shadow: 1px 1px var(--accents);
}
nav ul li a {
    color: var(--darkGray);
    margin-left: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
nav ul li a:hover {
    color: var(--accents);
}
/**********************
footer
**********************/
footer {
    padding: 100px 0;
    background-color: var(--darkGray);
    color: var(--white);
}
footer article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h3 {
    color: var(--accents);
    font-size: 1.5rem;
    margin-bottom: 20px;
}
footer div:nth-child(1) {
    flex: 0 0 39%;
}
footer div:nth-child(2) {
    flex: 0 0 19%;
    padding-left: 30px;
}
footer div:nth-child(3) {
    flex: 0 0 39%;
}
footer div:nth-child(3) p {
    padding-bottom: 20px;
}
footer a {
    color: var(--white);
}
footer a:hover {
    color: var(--accents);
}
footer input[type="email"] {
    padding: 15px 25px;
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
    font-size: 1rem;
    outline: none;
    width: 320px;
}
footer input::placeholder {
    text-transform: uppercase;
    letter-spacing: 1px;
}
/**********************
aside
**********************/
aside {
    height: 100vh;
    position: fixed;
    top: 0;
}
aside ul {
    position: relative;
    top: 34%;
    background-color: var(--white);
    box-shadow: 0 0 5px var(--darkGray);
    padding: 4px 0;
}
aside li {
    display: block;
    padding: 5px;
}
aside li i {
    font-size: 2rem;
    cursor: pointer;
}
aside li i:hover {
    transform: translateX(5%);
}
aside li:nth-child(1) i {
    color: #1877f2;
}
aside li:nth-child(2) i {
    color: red;
}
aside li:nth-child(3) i {
    color: #dc5395;
}
aside li:nth-child(4) i {
    color: #e60023;
}

/**********************
H O M E
**********************/
/**********************
headerHome
**********************/
.headerHome {
    background-image: url(img/header.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}
.headerHome h1 {
    font-size: 5rem;
    text-shadow: 0 0 3px var(--darkGray);
    line-height: 1.2;
}
.headerHome p {
    font-size: 1.5rem;
    opacity: .8;
    padding: 0 0 15px;
}
/**********************
destinacije
**********************/
.destinacije {
    padding: 80px 0;
    text-align: center;
}
.destinacije h2 + p {
    color: var(--white);
    background-color: var(--accents);
    padding: 3px 40px;
    display: inline-block;
    font-weight: 800;
    text-shadow: 0 0 3px var(--darkGray);
}
.destinacije article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.destinacije article > div {
    flex: 0 0 30%;
    margin: 30px 0 50px;
    box-shadow: 0 0 10px lightgray;
    transition: var(--transition);
    cursor: pointer;
}
.destinacije article > div:hover {
    box-shadow: 0 0 20px #b5b5b5;
}
.destinacije img {
    width: 100%;
}
.destinacije .text {
    padding-bottom: 5px;
}
.destinacije i {
    color: var(--accents);
    transition: var(--transition);
}
.destinacije i:hover {
    color: var(--darkGray);
}
/**********************
P O N U D A
**********************/
/**********************
headerPonuda
**********************/
.headerPonuda {
    background-image: linear-gradient(rgba(41, 46, 51,.65), rgba(41, 46, 51,.65) ), url(img/headers.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    color: var(--white);
}
.headerPonuda h1 {
    font-size: 4rem;
    text-shadow: 0 0 3px var(--darkGray);
    line-height: 1.2;
}
.headerPonuda p {
    font-size: 1.5rem;
    opacity: .8;
    padding: 0 0 15px;
}
/**********************
paketi
**********************/
.paketi {
    padding: 80px 0;
    text-align: center;
}
.paketi h2 {
    padding-bottom: 0;
}
.paketi h2 + p{
    padding-bottom: 20px;
}
.paketi article {
    display: flex;
    height: 700px;
    box-shadow: 0 0 10px lightgray;
}
.paketi article > div {
    flex: 0 0 50%;
    overflow: hidden;
}
.paketi img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 100%;
    transition: var(--transition);
}
.paketi img:hover {
    transform: scale(1.05);
}
.paketi article > div:last-child {
    display: flex;
    flex-wrap: wrap;
}
.paketi article div .row {
    display: flex;
    height: 350px;
}
.paketi article div .row div {
    flex: 0 0 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.paketi article div .row .text {
    padding: 30px;
}
.paketi h4 {
    color: var(--accents);
    font-size: 1.5em;
    text-shadow: 0 0 1px var(--darkGray);
}

/**********************
R E S P O N S I V E
**********************/
@media (max-width: 1199px) {
    footer div:nth-child(1) {
        flex: 0 0 34%;
    }
    footer div:nth-child(2) {
        flex: 0 0 24%;
        padding-left: 20px;
    }
    .destinacije article > div {
        flex: 0 0 47%;
        margin: 30px 0;
    }
    .paketi article {
        height: 1050px;
        flex-wrap: wrap;
    }
    .paketi article > div,
    .paketi article div .row {
        flex: 0 0 100%;
    }
    .paketi article > div:first-child img {
        height: 350px;
    }
    .paketi img:hover {
        transform: unset;
    }
}
@media (max-width: 991px) {
    .container {
        width: 90%;
    }
    footer div:nth-child(1) {
        flex: 0 0 26%;
    }
    footer div:nth-child(3) {
        flex: 0 0 34%;
        padding-left: 3px;
    }
}
@media (max-width: 767px) {
    .topbar article, nav {
        flex-direction: column;
    }
    .topbar p {
        padding: 3px;
    }
    .topbar a {
        margin: 0 20px 0 0;
        font-size: 1.2rem;
    }
    nav ul {
        padding: 15px 0 5px;
    }
    nav ul li a {
        margin: 0 20px;
    }
    .headerHome {
        height: 65vh;
    }
    .headerPonuda {
        height: 50vh;
    }
    .headerHome h1 {
        font-size: 3.2rem;
    }
    .headerPonuda h1 {
        font-size: 2.6rem;
    }
    .headerHome p,
    .headerPonuda p {
        font-size: 1.25rem;
    }
    h2 {
        font-size: 2.2rem;
        line-height: 1.3;
    }
    .destinacije, .paketi {
        padding: 60px 0;
    }
    .destinacije article > div {
        flex: 0 0 100%;
        margin: 15px 0;
    }
    .paketi h2 {
        padding-bottom: 10px;
    }
    .paketi article {
        height: 1750px;
    }
    .paketi article div .row {
        height: 700px;
        flex-wrap: wrap;
    }
    .paketi article div .row div {
        flex: 0 0 100%;
        height: 350px;
    }
    .paketi article div .row:first-child .img {
        order: 1;
    }
    footer {
        padding: 60px 0;
    }
    footer div:nth-child(1),
    footer div:nth-child(2),
    footer div:nth-child(3) {
        flex: 0 0 100%;
        padding-left: 0;
        padding-bottom: 50px;
    }
    footer button {
        display: block;
        margin-top:5px;
    }
    aside {
        height: 7vh;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    aside ul {
        top: 100vh;
        transform: translateY(-100%);
        display: flex;
        justify-content: center;
    }
    aside li {
        display: inline-block;
    }
    aside li i {
        font-size: 2rem;
        margin: 0 10px;
    }
}
